/* global styles */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary{
	margin: 0;
	padding: 0;
}
html {
    height: 100%;
    font-size: 62.5%;
}
body {
	height: 100%;
	line-height:1.428571428;
    font-size: 1.4rem;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}
*,*::before,*::after{
	box-sizing: border-box;
}
ul {
	list-style: none;
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	text-decoration: none;
	color: #337ab7;
	background: transparent;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.block {
    display: block
}

.inline-block {
    display: inline-block;
}

.pull-left,
.fl {
    float: left !important;
}

.pull-right,
.fr {
    float: right !important;
}

.hide,
.hidden {
    display: none !important;
}

.show {
    display: block !important;
}

.align-center,
.text-center {
    text-align: center !important;
}

.align-left,
.text-left {
    text-align: left !important;
}

.align-right,
.text-right {
    text-align: right !important;
}

.align-justify,
.text-justify {
    text-align: justify
}

.invisible {
    visibility: hidden;
}
.over-hiden {
    overflow: hidden !important;
}
.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.affix {
    position: fixed;
}

.text-indent {
    text-indent: 30px;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.no-border-radius {
    border-radius: 0 !important;
}

.no-border {
    border: none !important;
}

