$main-color: #1790FF;
$font-color-normal: #4A4A4A;
$font-color-light: #9B9B9B;
$font-color-dark: #000;
$font-color-lightDark:rgba(0,0,0,85%);
$border-color-normal:#D8D8D8;
$border-color-light:#EBEBEB;
$background-color-main:#F6F6F6;
$background-color-inside:#fff;















