/* 自定义通用样式 */

.bg-white {
    background-color: #fff;
}

.w-pct100 {
    width: 100%
}

.card-title {
    font-size: 18px;
    color: #000;
}

.card-right-wrap {
    float: right;
    +.card-title {
        float: left;
        margin-top: 8px;
    }
}

// 单元格表单项
.td-form-item{
	margin:0
}




/* el样式重置 */

.el-breadcrumb {
    margin: 20px 30px 17px 30px;
}

.el-card__body {
    padding: 0;
}

.el-message-box {
    width: 325px;
}

.el-card {
    border-radius: 0
}